.wpcm-vehicle-listings {

  .wpcm-vehicle-filters {
    padding: .5em 0;
    background: #eee;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;

    .wpcm-filter {
      position: relative;
      width: 100%;
      padding: .5em 1em;
      float: left;
      overflow: hidden;

      label {
        display: block;
        font-size: .8em;
      }

      select {
        width: 100%;
      }

      input {
        width: 100%;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: .4em;

      }
    }

    .wpcm-filter-button {
      padding-top: 1.5em;
      float: right;
      input {
        padding: .8em;
        line-height: .9em;
        background-color: #428dcb;

        &:hover, &:active, &:focus, &:visited {
          outline: 0;
        }
      }
    }
  }

  .wpcm-vehicle-sort {
    padding: .5em 1em;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    text-align: right;

    label {
      font-size: .8em;
    }
  }

  .wpcm-vehicle-results-wrapper {
    position: relative;

    .wpcm-vehicle-results {
      padding: 0;
      margin: 0;
      list-style: none;
      li.wpcm-listings-item {
        list-style: none outside;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #eee;
        a {
          display: block;
          padding: 1em 1em 1em 2em;
          border: 0;
          overflow: hidden;
          zoom: 1;
          position: relative;
          line-height: 1.5em;
          text-decoration: none;
          font-weight: normal;
          min-height: 100px;
          box-sizing: border-box;

          &:hover {
            background-color: #f3f3f3;
          }

          &:active, &:focus, &:visited {
            border: 0;
            outline: 0;
          }

          .wpcm-listings-item-image-wrapper {
            width: 100px;
            height: 100px;
            position: absolute;
            left: 1em;
            float: left;
            margin-right: 1em;
            vertical-align: middle;
            box-shadow: none;
            overflow: hidden;

            img.wpcm-listings-item-image {
              width: 100%;
              height: 100%;
              vertical-align: middle;
              box-shadow: none;
            }

            // listing signs
            @import "listing_signs";
          }

          .wpcm-listings-item-description {
            display: none;
            float: left;
            width: 80%;
            padding: 0 0 0 100px;
            line-height: 1.5em;
            h3 {
              margin: 0;
              padding: 0;
              line-height: inherit;
              font-size: inherit;
            }
            p {
              color: #999;
            }
          }

          .wpcm-listings-item-meta {
            float: left;
            width: 100%;
            padding: 0 0 0 100px;
            margin: 0;
            line-height: 1.5em;
            color: #999;
            list-style: none outside;
            ul {
              margin: 0;
              list-style: none;
              .wpcm-title {
                color: #484c51;
                font-weight: bold;
                font-size: 1.1em;
              }
              .wpcm-price {
                //font-weight: bold;
                //font-size: 1.1em;
              }
            }
          }
        }

      }
      li.wpcm-no-results {
        padding: 2em 0;
        font-style: italic;
        text-align: center;
      }
    }

    .wpcm-results-load-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #000;
      opacity: 0.3;
    }

    .wpcm-results-spinner {
      position: absolute;
      width: 100px;
      height: 76px;
      top: 5%;
      left: 50%;
      margin-left: -50px;
      text-align: center;
      display: none;
      &:before {
        font-family: "wp-car-manager" !important;
        content: "\e804";
        font-size: 4em !important;
        line-height: 1.3em;
        color: #fff;;

      }
    }
  }

  .wpcm-vehicle-listings-pagination {
    width: 100%;
    padding: 1em 0;
    text-align: center;
    ul {
      overflow: hidden;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline;
        list-style: none;
        a, span {
          padding: 0 .3em;
        }
        a  {
          color: #428dcb;
        }
      }
    }
  }

}

/** MEDIA **/

@media (min-width: 992px) {

  // Listings
  .wpcm-vehicle-listings {

    // filters
    .wpcm-vehicle-filters {
      .wpcm-filter {
        width: 25%;
      }
      .wpcm-filter-make, .wpcm-filter-model {
        width: 50%;
      }
    }

    // results
    .wpcm-vehicle-results-wrapper {
      .wpcm-vehicle-results {
        li.wpcm-listings-item {
          a {

            .wpcm-listings-item-description {
              display: block;
            }

            .wpcm-listings-item-meta {
              width: 20%;
              padding-left: 1em;
              text-align: right;
              float: right;
              li.wpcm-title {
                display: none;
              }
              li.wpcm-price {
                font-weight: bold;
                font-size: 1.1em;
              }
            }

          }
        }
      }
    }
  }

}
