@font-face {
  font-family: 'wp-car-manager';
  src: url('../fonts/wp-car-manager.eot?25344333');
  src: url('../fonts/wp-car-manager.eot?25344333#iefix') format('embedded-opentype'),
  url('../fonts/wp-car-manager.woff?25344333') format('woff'),
  url('../fonts/wp-car-manager.ttf?25344333') format('truetype'),
  url('../fonts/wp-car-manager.svg?25344333#wp-car-manager') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Menu */
#adminmenu {
  #menu-posts-wpcm_vehicle {
    .wp-menu-image:before {
      font-family: "wp-car-manager" !important;
      content: "\e800";
      font-size: 1.1em !important;
      line-height: 1.3em;
    }
  }
}

.wpcm-page-makes {
  #col-right {
    table {
      thead {
        th,td {
          height: 22px;
          padding-left: 0;
        }
        #actions {
          width: 10%;
        }
      }
      th {
        span {
          padding: 7px 7px 8px 10px;
        }
      }
      tbody {
        th,td {
          height: 41px;
        }
        .wpcm-btn-configure {
          border: 1px solid #cccccc;
          background-color: #f7f7f7;
          padding: 4px;
          line-height: .9em;
          border-radius: 5px;
          &:before {
            color: #555555;
            font-size: .9em;
          }
          &:hover {
            border-color: #828282;
          }
        }

      }

      thead,tfoot {
        th,td {
          height: 22px;
          padding-left: 0;
        }
      }

    }
  }
}

.wpcm_vehicle_page_wpcm-models {
  .wp-submenu {
    li.current {
      display: none;
    }
  }
}

/** Car Data Meta Box **/
#wpcm-car-data {
  label {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    line-height: 30px;
    span {
      display: block;
      width: 40%;
      font-weight: bold;
      float: left;
    }
    input, select {
      width: 50%;
    }
  }

}