/** SINGLE **/
.single-wpcm_vehicle {

  .wpcm_vehicle {

    .entry-header {
      padding-left: 0;
      padding-right: 0;
    }

    .wpcm-images {
      float: left;
      width: 55%;
    }

    .wpcm-price-wrapper {
      padding-bottom: 10px;
      .wpcm-price {
        font-size: 1.8em;
        font-weight: bold;
      }
    }

    .wpcm-summary {
      float: right;
      width: 41%;
      font-size: .9em;

      table {
        border: 0;
        th, td {
          padding: .857em 1.387em;
          border: 0;
          border-bottom: 1px dotted #F1F1F1;
        }
        th {
          font-weight: bold;
          padding-left: 0;
        }
      }
    }

    .wpcm-vehicle-content {
      clear: both;
      overflow: hidden;

      .wpcm-content-block {
        border: 0;
        border-bottom: 1px solid rgba(0,0,0,.1);
        margin: 1em 0;
        padding: 1em 0;
        overflow: hidden;

        h2 {
          border-bottom: 1px solid rgba(0,0,0,.1);
          padding-bottom: .5em;
        }

        &#wpcm-vehicle-data {
          table {
            width: 50%;
            margin: 0;
            float: left;
            tr {
              th {
                width: 35%;
                //padding-left: 0;
              }
            }
          }
        }

        &#wpcm-vehicle-features {
          ul {
            width: 100%;
            margin: 0;
            list-style: none;
            float: left;
            li {
              width: 50%;
              padding: .2em 0 .2em 22px;
              background: url('../images/frontend-sprite.png') center left no-repeat;
              box-sizing: border-box;
              float: left;
            }
          }
        }

      }
    }
  }

  /** twentyfifteen compatibility **/
  .twentyfifteen {
    .wpcm_vehicle {
      .wpcm-summary {
        padding: 0;
      }
      table {
        border: 0;
        tr {
          border: 0;
          th,td {
            border: 0;
            border-bottom: 1px dotted #F1F1F1;
          }
        }
      }
    }
  }

}