@import "fonts";

/** OVERVIEW **/
.select2-search__field {
  background-color: #fff !important;
}

.wpcm-vehicle-listings {

  .wpcm-vehicle-filters {
    padding: .5em 0;
    background: #eee;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;

    .wpcm-filter {
      width: 25%;
      padding: .5em 1em;
      float: left;

      label {
        font-size: .8em;
      }

      select {
        width: 100%;
      }

      input {
        width: 100%;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: .4em;

      }
    }

    .wpcm-filter-make, .wpcm-filter-model {
      width: 50%;
    }

    .wpcm-filter-button {
      padding-top: 1.5em;
      float: right;
      input {
        padding: .8em;
        line-height: .9em;
        background-color: #428dcb;

        &:hover, &:active, &:focus, &:visited {
          outline: 0;
        }
      }
    }
  }
  .wpcm-vehicle-results-wrapper {
    position: relative;

    .wpcm-vehicle-results {
      padding: 0;
      margin: 0;
      list-style: none;
      li.wpcm-listings-item {
        list-style: none outside;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #eee;
        a {
          display: block;
          padding: 1em 1em 1em 2em;
          border: 0;
          overflow: hidden;
          zoom: 1;
          position: relative;
          line-height: 1.5em;
          text-decoration: none;
          font-weight: normal;
          min-height: 100px;
          box-sizing: content-box;

          &:hover {
            background-color: #f3f3f3;
          }

          &:active, &:focus, &:visited {
            border: 0;
            outline: 0;
          }

          img.wpcm-listings-item-image {
            width: 100px;
            height: 100px;
            position: absolute;
            left: 1em;
            float: left;
            margin-right: 1em;
            vertical-align: middle;
            box-shadow: none;
          }

          .wpcm-listings-item-description {
            float: left;
            width: 80%;
            padding: 0 0 0 100px;
            line-height: 1.5em;
            h3 {
              margin: 0;
              padding: 0;
              line-height: inherit;
              font-size: inherit;
            }
            p {
              color: #999;
            }
          }

          .wpcm-listings-item-price {
            float: left;
            text-align: left;
            width: 25%;
            padding: 0 0 0 1em;
            color: #999;
            line-height: 1.5em;
          }

          .wpcm-listings-item-meta {
            float: right;
            text-align: right;
            width: 20%;
            padding: 0 0 0 1em;
            margin: 0;
            line-height: 1.5em;
            color: #999;
            list-style: none outside;
            ul {
              list-style: none;
              .wpcm-price {
                font-weight: bold;
                font-size: 1.1em;
              }
            }
          }
        }

      }
      li.wpcm-no-results {
        padding: 2em 0;
        font-style: italic;
        text-align: center;
      }
    }

    .wpcm-results-load-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #000;
      opacity: 0.3;
    }

    .wpcm-results-spinner {
      position: absolute;
      width: 100px;
      height: 76px;
      top: 50%;
      left: 50%;
      margin-top: -38px;
      margin-left: -50px;
      text-align: center;
      display: none;
      &:before {
        font-family: "wp-car-manager" !important;
        content: "\e804" ;
        font-size: 4em !important;
        line-height: 1.3em;
        color: #fff;;

      }
      /*
      font-family: "wp-car-manager" !important;
      content: "\e800" ;
      font-size: 1.1em !important;
      line-height: 1.3em;
      */
    }
  }

}

/** SINGLE **/
.single-wpcm_vehicle {

  .wpcm_vehicle {

    .entry-header {
      padding-left: 0;
      padding-right: 0;
    }

    .wpcm-images {
      float: left;
      width: 55%;

      .wpcm-thumbnails {
        width: 100%;
        padding: 10px 0;

        &.wpcm-columns-1 a {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }

        &.wpcm-columns-2 a {
          width: 47%;
          margin-left: 3%;
          margin-right: 3%;
        }

        &.wpcm-columns-3 a {
          width: 30%;
          margin-left: 2.5%;
          margin-right: 2.5%;
        }

        &.wpcm-columns-4 a {
          width: 22%;
          margin-left: 2%;
          margin-right: 2%;
        }

        &.wpcm-columns-5 a {
          width: 17%;
          margin-left: 1.875%;
          margin-right: 1.875%;
        }

        a {
          margin-top: 10px;
          margin-bottom: 10px;
          float: left;
          img {
            width: 100%;
          }
        }

        a.first {
          margin-left: 0;
        }

        a.last {
          margin-right: 0;
        }

      }
    }

    .wpcm-price-wrapper {
      padding-bottom: 10px;
      .wpcm-price {
        font-size: 1.8em;
        font-weight: bold;
      }
    }

    .wpcm-summary, .wpcm-contact {
      float: right;
      width: 41%;
    }

    .wpcm-summary {
      font-size: .9em;
      table {
        border: 0;
        th, td {
          padding: .857em 1.387em;
          border: 0;
          border-bottom: 1px dotted #F1F1F1;
        }
        th {
          font-weight: bold;
          padding-left: 0;
        }
      }
    }

    .wpcm-contact {
      .wpcm-contact-button {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        float: left;
        padding: 1em 0;
        color: #fff;
        text-align: center;
        background: #428dcb;
      }
    }

    .wpcm-vehicle-content {
      clear: both;
      overflow: hidden;

      .wpcm-content-block {
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        margin: 1em 0;
        padding: 1em 0;
        overflow: hidden;

        h2 {
          border-bottom: 1px solid rgba(0, 0, 0, .1);
          padding-bottom: .5em;
        }

        &#wpcm-vehicle-data {
          table {
            width: 50%;
            margin: 0;
            float: left;
            tr {
              th {
                width: 35%;
                //padding-left: 0;
              }
            }
          }
        }

        &#wpcm-vehicle-features {
          ul {
            width: 100%;
            margin: 0;
            list-style: none;
            float: left;
            li {
              width: 50%;
              padding: .2em 0 .2em 22px;
              background: url('../images/frontend-sprite.png') center left no-repeat;
              box-sizing: border-box;
              float: left;
            }
          }
        }

      }
    }
  }

  /** twentyfifteen compatibility **/
  .twentyfifteen {
    .wpcm_vehicle {
      .wpcm-summary {
        padding: 0;
      }
      table {
        border: 0;
        tr {
          border: 0;
          th, td {
            border: 0;
            border-bottom: 1px dotted #F1F1F1;
          }
        }
      }
    }
  }

}

@import "prettyPhoto";
@import "select2";

