@import "fonts";
@import "mixins";

/** OVERVIEW **/
.select2-search__field {
  background-color: #fff !important;
}

.wpcm-vehicle-listings {

  .wpcm-vehicle-filters {
    padding: .5em 0;
    background: #eee;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;

    .wpcm-filter {
      width: 100%;
      padding: .5em 1em;
      float: left;

      label {
        display: block;
        font-size: .8em;
      }

      select {
        width: 100%;
      }

      input {
        width: 100%;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: .4em;

      }
    }

    .wpcm-filter-button {
      padding-top: 1.5em;
      float: right;
      input {
        padding: .8em;
        line-height: .9em;
        background-color: #428dcb;

        &:hover, &:active, &:focus, &:visited {
          outline: 0;
        }
      }
    }
  }

  .wpcm-vehicle-sort {
    padding: .5em 1em;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    text-align: right;

    label {
      font-size: .8em;
    }
  }

  .wpcm-vehicle-results-wrapper {
    position: relative;

    .wpcm-vehicle-results {
      padding: 0;
      margin: 0;
      list-style: none;
      li.wpcm-listings-item {
        list-style: none outside;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #eee;
        a {
          display: block;
          padding: 1em 1em 1em 2em;
          border: 0;
          overflow: hidden;
          zoom: 1;
          position: relative;
          line-height: 1.5em;
          text-decoration: none;
          font-weight: normal;
          min-height: 100px;
          box-sizing: content-box;

          &:hover {
            background-color: #f3f3f3;
          }

          &:active, &:focus, &:visited {
            border: 0;
            outline: 0;
          }

          img.wpcm-listings-item-image {
            width: 100px;
            height: 100px;
            position: absolute;
            left: 1em;
            float: left;
            margin-right: 1em;
            vertical-align: middle;
            box-shadow: none;
          }

          .wpcm-listings-item-description {
            display: none;
            float: left;
            width: 80%;
            padding: 0 0 0 100px;
            line-height: 1.5em;
            h3 {
              margin: 0;
              padding: 0;
              line-height: inherit;
              font-size: inherit;
            }
            p {
              color: #999;
            }
          }

          .wpcm-listings-item-meta {
            float: left;
            width: 100%;
            padding: 0 0 0 100px;
            margin: 0;
            line-height: 1.5em;
            color: #999;
            list-style: none outside;
            ul {
              margin: 0;
              list-style: none;
              .wpcm-title {
                color: #484c51;
                font-weight: bold;
                font-size: 1.1em;
              }
              .wpcm-price {
                //font-weight: bold;
                //font-size: 1.1em;
              }
            }
          }
        }

      }
      li.wpcm-no-results {
        padding: 2em 0;
        font-style: italic;
        text-align: center;
      }
    }

    .wpcm-results-load-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #000;
      opacity: 0.3;
    }

    .wpcm-results-spinner {
      position: absolute;
      width: 100px;
      height: 76px;
      top: 5%;
      left: 50%;
      margin-left: -50px;
      text-align: center;
      display: none;
      &:before {
        font-family: "wp-car-manager" !important;
        content: "\e804";
        font-size: 4em !important;
        line-height: 1.3em;
        color: #fff;;

      }
    }
  }

}

/** SINGLE **/
.single-wpcm_vehicle {

  .wpcm_vehicle {

    .attachment-full, .entry-thumbnail, .attachment-post-thumbnail {
      display: none;
    }

    .wpcm-vehicle-head {
      overflow: hidden;
    }

    .wpcm-images {
      float: left;
      width: 55%;

      img.attachment-wpcm_vehicle_single.wp-post-image {
        width: 100%;
      }

      .wpcm-thumbnails {
        width: 100%;
        padding: 10px 0;

        &.wpcm-columns-1 a {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }

        &.wpcm-columns-2 a {
          width: 47%;
          margin-left: 3%;
          margin-right: 3%;
        }

        &.wpcm-columns-3 a {
          width: 30%;
          margin-left: 2.5%;
          margin-right: 2.5%;
        }

        &.wpcm-columns-4 a {
          width: 22%;
          margin-left: 2%;
          margin-right: 2%;
        }

        &.wpcm-columns-5 a {
          width: 17%;
          margin-left: 1.875%;
          margin-right: 1.875%;
        }

        a {
          margin-top: 10px;
          margin-bottom: 10px;
          float: left;
          img {
            width: 100%;
          }
        }

        a.first {
          margin-left: 0;
        }

        a.last {
          margin-right: 0;
        }

      }
    }

    .wpcm-price-wrapper {
      padding-bottom: 10px;
      .wpcm-price {
        font-size: 1.8em;
        font-weight: bold;
      }
    }

    .wpcm-summary {
      float: right;
      width: 41%;
    }

    .wpcm-summary {
      font-size: .9em;
      table {
        border: 0;
        th, td {
          padding: .857em 1.387em;
          border: 0;
          border-bottom: 1px dotted #F1F1F1;
        }
        th {
          font-weight: bold;
          padding-left: 0;
        }
      }

      .wpcm-contact {
        overflow: hidden;
        .wpcm-contact-button {
          display: block;
          width: 100%;
          margin-bottom: 15px;
          float: left;
          padding: 1em 0;
          color: #fff;
          text-align: center;
          background: #428dcb;
        }
      }
    }

    .wpcm-vehicle-content {
      clear: both;
      overflow: hidden;

      .wpcm-content-block {
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        margin: 1em 0;
        padding: 1em 0;
        overflow: hidden;

        h2 {
          border-bottom: 1px solid rgba(0, 0, 0, .1);
          padding-bottom: .5em;
        }

        &#wpcm-vehicle-data {
          table {
            width: 100%;
            margin: 0;
            tr {
              th {
                width: 35%;
              }
            }
          }
        }

        &#wpcm-vehicle-features {
          ul {
            width: 100%;
            margin: 0;
            list-style: none;
            li {
              padding: .2em 0 .2em 22px;
              background: url('../images/frontend-sprite.png') center left no-repeat;
              box-sizing: border-box;
            }
          }
        }

      }
    }
  }

  /** twentyfifteen compatibility **/
  .twentyfifteen {
    .wpcm_vehicle {
      .wpcm-summary {
        padding: 0;
      }
      table {
        border: 0;
        tr {
          border: 0;
          th, td {
            border: 0;
            border-bottom: 1px dotted #F1F1F1;
          }
        }
      }
    }
  }

}

/** CAR SUBMISSION FORM **/
.wpcm-car-form {

  fieldset {

    margin: 0 0 1em 0;
    padding: 0 0 1em 0;
    line-height: 2em;
    border: 0;
    border-bottom: 1px solid #eee;
    @include clearfix();
    label {
      display: block;
      margin: 0;
      width: 29%;
      float: left;
      vertical-align: middle;
      small {
        opacity: .75;
        font-size: 0.83em;
      }
    }
    div.wpcm-field {
      width: 70%;
      float: right;
      vertical-align: middle;

      input.wpcm-input-text, textarea, select {
        margin: 0;
        vertical-align: middle;
        width: 100%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
      }

      ul.wpcm-form-features {
        padding: 0;
        margin: 0;
        list-style: none;
        overflow: auto;
        li {
          width: 33%;
          padding: 10px 0;
          margin: 0;
          float: left;
          border-bottom: 1px solid #eee;

          label {
            width: 100%;

            input {
              margin-right: 10px;
            }
          }

        }
      }

      .wpcm-error {
        border: 1px solid red;
      }
    }

    .wpcm-form-image-upload {
      width: 100%;
      min-height: 150px;
      border: 2px dashed #60646c;
      text-align: center;
      padding: 50px;
      color: #60646c;
      cursor: pointer;
      span {
        font-size: 0.9em;
        font-weight: 200;
      }
    }

    div.wpcm-field-fw {
      width: 100%;
    }

    div.wpcm-account-sign-in {
      .button {
        margin-right: .5em;
      }
      p {
        margin: 1em 0 0 0;
      }
    }

  }

  .wpcm-fieldset-features {
    border-bottom: 0;
  }

  #wpcm-submit {
    &.wpcm-disabled {
      cursor: not-allowed;
      opacity: 0.4;
      filter: alpha(opacity=40); /* For IE8 and earlier */

    }
  }

}

@import "prettyPhoto";
@import "select2";
@import "frontendMedia";
@import "dropzone";

